body, html {
  margin: 0;
}

.Question {
  font-size: 20px;
  text-align: center;
  height: auto;
  width: 100%;
}

.main-background {
  background-image: url('sportriv.PNG') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}