body, html {
  margin: 0;
  background-color: #d77587;
  font-family: Raleway, sans-serif;
  font-size: 100%;
}

.main-background {
  background-image: url('sportriv.png');
  background-position: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.home-text-container {
  display: flex;
  flex-flow: column wrap;
  width: 25%;
  margin-left: 60%;
}

.button-start-game {
  margin: 20px 0;
  font-size: 2rem;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(135, 226, 241);
  cursor: pointer;
  transition: background-color 0.6s;
  transition: border-width 0.2s linear ease-in;
  text-decoration: none;
  color: inherit;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  animation: fadeInStartGame ease-in-out 1s;
  text-align: center;
}

.button-start-game:hover {
  background-color: rgb(86, 173, 187);
}

@keyframes fadeInStartGame {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.button-to-home {
  margin: 4rem 6rem;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: rgb(135, 226, 241);
  cursor: pointer;
  transition: background-color 0.6s;
  text-decoration: none;
  color: black;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  width: 30%;
  text-align: center;
}

.button-to-home:hover {
  background-color: rgb(86, 173, 187);
}

.fa-angle-double-left {
  margin-right: 5px;
}

.question-tracker {
  background-color: rgb(62, 107, 114);
  height: 5vw;
  width: 20vw;
  border-radius: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.home-text {
  animation: fadeIn ease-in-out 1s forwards;
  margin: 0;
  font-size: 1rem;
  color: rgb(37, 71, 59);
}

.home-text h1 {
  margin: 10px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}


/* trivia question container */
.Trivia {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.trivia-top-menu {
  display: flex;
  align-items: center;
}

.trivia-question-container {
  background-color: rgb(62, 107, 114);
  height: 60vh;
  width: 70vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Question {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  font-size: 1rem;
  width: 95%;
  margin-top: 20px;
  text-align: center;
}

.br {
  margin-top: 15px;
  width: 95%;
  height: 1px;
  background-color: black;
  background-image: linear-gradient(to right, rgb(135, 226, 241), rgb(129, 61, 61))
}

.user-buttons-container {
  display: flex;
  width: 95%;
}

.trivia-multiple-choice-container {
  height: 400px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.multipleChoice {
  width: 80%;
  height: 17%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  margin: 15px 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

.multipleChoice:hover {
  background-color: rgba(255, 255, 255, 0.562);
}

.prev-next-buttons {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 30%;
  align-items: center;
}

.prev-next-button {
  width: 80%;
  font-size: 15px;
  background-color: rgb(135, 226, 241);
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

.prev-next-button:hover {
  background-color: rgb(86, 173, 187);
}


